@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Project.MVC.Web.Models
@model CarouselModel

@if (Model != null && Model.Slides != null && Model.Slides.Count > 0)
{
    <!-- Carousel Start -->
    <p>@Model.Slides[1].Title</p>
    <div class="container-fluid p-0 pb-5">
        <div class="owl-carousel header-carousel position-relative">
            @foreach (Slide slide in Model.Slides)
            {
            <div class="owl-carousel-item position-relative">
                @slide.Image
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(53, 53, 53, .7);">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12 col-lg-8 text-center">
                                <h5 class="text-white text-uppercase mb-3 animated slideInDown">@slide.SubTitle</h5>
                                <h1 class="display-3 text-white animated slideInDown mb-4">@slide.Title</h1>
                                <p class="fs-5 fw-medium text-white mb-4 pb-2">@slide.Description</p>
                                @slide.LeftCTA
                                @slide.RightCTA
                                @*<a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft"></a>
                                <a href="" class="btn btn-light py-md-3 px-md-5 animated slideInRight"></a>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
    <!-- Carousel End -->
}
