
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Project.MVC.Web.Extensions
@using Sitecore.Links.UrlBuilders
@model RenderingModel

@{ 
    //var link = Sitecore.Links.LinkManager.GetItemUrl(Model.Item);
    var parentItem = Sitecore.Context.Database.GetItem("{218E62AF-138F-44A9-ABDD-EC2F81AC66E6}");

    ItemUrlBuilderOptions options = new ItemUrlBuilderOptions();
    options.LowercaseUrls = true;
}

@if (Model != null && Model.PageItem != null)
{
    <div class="container-fluid page-header py-5 mb-5">
        <div class="container py-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">@Html.Sitecore().Field("Title", Model.PageItem)</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="text-white" href="@parentItem.Url()">@Html.Sitecore().Field("Title", Model.PageItem.Parent)</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="@Model.Item.Url(options)">@Html.Sitecore().Field("Title", Model.PageItem)</a></li>
                    @*<li class="breadcrumb-item text-white active" aria-current="/about-us">About Us</li>*@
                </ol>
            </nav>
        </div>
    </div>
}
